.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.timer{
    border: 1px solid #ccc;
    padding: 20px;
}
.main-container{
    background-color: antiquewhite;
}
.container{
    width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 12px; */
    background: white;
    padding: 20px;
}

.card{
    display: flex;
    align-items: center;
    gap:10px;
    border: 1px solid#ddd;
    padding: 12px;
    /* border-radius: 6px; */
}
.card img{
    width: 40px;
    height: 28px;
    object-fit: cover;
}