.Modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal {
  width: 500px;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}

.toast-container {
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.toast {
  min-width: 220px;
  animation: slideIn 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.success {
  background-color: green;
}
.fail {
  background-color: red;
}
.pending {
  background-color: yellowgreen;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel-container-image {
  height: 90vh;
  width: 100%;
  position: relative;
}
.caroursel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  background-color: yellow;
  padding: 20px;
}
.left-btn {
  left: 1rem;
}
.right-btn {
  right: 1rem;
}

.step-containers {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.step- {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  /* justify-content: center; */
}
.circle-containers {
  display: flex;
  align-items: center;
  flex-direction: column;
  .circles {
    border-radius: 50%;
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
  }
}
/* Active state for completed/current steps */
.circles.actives {
  background-color: green;
}
.lines {
  height: 50px;
  width: 2px;
  background-color: black;
  /* flex: 1; */
  color: #000;
}

/* Active state for completed/current steps */
.lines.actives {
  background-color: green;
}