.main-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    inset: 0;

}
.page{
    border: 2px solid grey;
    padding: 10px;
}